@page "/tournee"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http
@inject IJSRuntime JSRuntime




<div class="card" style="border-radius:10px">
    <div class="card-header" style="border-radius:10px">
        <h3>Liste des tournées</h3>
    </div>
    <div class="card-body">
        <p>
            <a href="CreationTournee">Créer une nouvelle tournée</a>
        </p>
        @if (tournees == null)
        {
            @*<p><em>Loading...</em></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Zone</th>
                            <th>Ville</th>
                            <th>Code postale</th>
                        </tr>
                    </thead>
                </table>*@
            <Annimation />
        }
        else
        {
            @*<DxDataGrid Data="@zones"
                            ShowFilterRow="true">
                    <DxDataGridColumn Field="@nameof(Zone.zone)"
                                      Caption="Zone">
                    </DxDataGridColumn>
                    <DxDataGridColumn Field="@nameof(Zone.ville)"
                                      Caption="Ville">
                    </DxDataGridColumn>
                    <DxDataGridColumn Field="@nameof(Zone.codepostal)"
                                      Caption="Code postale">
                    </DxDataGridColumn>
                </DxDataGrid>*@
            <div class="confluid">
                <table id="indexzone" class="table table-bordered table-responsive-xl">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tournee in tournees)
                        {
                            <tr>
                                <td>@tournee.Libellé</td>
                                <td>@tournee.Date_tournee</td>
                                <td>@tournee.Type</td>
                                <td style="width:100px"><input type="button" class="btn btn-primary" @onclick="(() => PrepareForEdit(tournee))" data-toggle="modal" data-target="#DetailTourne" value="Editer" /></td>
                                <td style="width:100px"><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(tournee))" data-toggle="modal" data-target="#confirmDeleteModal" value="Supprimer" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <DetailTourne tournee="tournee" DataChanged="@DataChanged"></DetailTourne>
            <ConfirmDialog OnClick="@Delete" />
        }
    </div>
</div>




@code {

    Tournee[] tournees;
    Tournee tournee = new Tournee();
    private bool hidden = false;
    string adr;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response;
        string adr21 = NavigationManager.BaseUri.ToString() + "api/Tournees";
        //zones = await AuthService.GetJsonAsync<Vehicule[]>(new Uri(adr21));
        //try
        //{
        response = await Http.GetAsync("api/Tournees");
        //response.EnsureSuccessStatusCode();

        if (response.IsSuccessStatusCode)
        {
            string jsonContent = response.Content.ReadAsStringAsync().Result;
            adr = response.StatusCode.ToString();
            //tournees = await JsonSerializer.DeserializeAsync<Tournee[]>(responseContent);
            tournees = JsonConvert.DeserializeObject<Tournee[]>(jsonContent);
        }
        else
        {
            adr = response.RequestMessage.ToString();
        }
        //}
        //catch (Exception e)
        //{
        //    adr = e.Message;
        //}
    }

    private void PrepareForEdit(Tournee tourneedit)
    {
        tournee = tourneedit;
    }
    private void PrepareForDelete(Tournee tourneedelete)
    {
        tournee = tourneedelete;
    }

    private async void DataChanged()
    {
        string adr21 = NavigationManager.BaseUri.ToString() + "api/Tournees";
        tournees = await AuthService.GetJsonAsync<Tournee[]>(new Uri(adr21));
        StateHasChanged();
    }

    private async Task Delete()
    {
        string adr21 = NavigationManager.BaseUri.ToString() + "api/Tournees/" + tournee.TourneeId;
        var task = await AuthService.DeleteJsonAsync(new Uri(adr21));
        await JSRuntime.InvokeAsync<object>("JsFunctions.CloseModal", "confirmDeleteModal");
        DataChanged();
        tournee = new Tournee();
    }
}