@page "/DetailAdresse"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IAuthService AuthService

    <div class="card" style="border-radius:10px">
        <div class="modal fade" tabindex="-1" role="dialog" id="DetailAdresse">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Detail de l'adresse</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <EditForm Model="@adresse" OnValidSubmit="@HandleValidSubmit">
                        <div style="font-size:15px">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="societe">Societé :</label>
                                        <InputText placeholder="Societé" class="form-control" @bind-Value="adresse.Societé" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Societé)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nom">Nom :</label>
                                        <InputText placeholder="Nom" class="form-control" @bind-Value="adresse.Nom" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Nom)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="prenom">Prénom :</label>
                                        <InputText placeholder="Prénom" class="form-control" @bind-Value="adresse.Prenom" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Prenom)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tel">Téléphone :</label>
                                        <MyInputNumber placeholder="Téléphone" class="form-control" @bind-Value="adresse.Telephone" ParsingErrorMessage="Vous devez saisir le n° de téléphone" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Telephone)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email :</label>
                                        <InputText placeholder="Email" class="form-control" @bind-Value="adresse.Email" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Email)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="adresse">Adresse :</label>
                                        <InputText placeholder="Adresse" class="form-control" @bind-Value="adresse.Adress" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Adress)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ville">Ville :</label>
                                        <InputText placeholder="Ville" class="form-control" @bind-Value="adresse.Ville" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Ville)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Code">Code postale :</label>
                                        <MyInputNumber placeholder="Code postale" class="form-control" @bind-Value="adresse.Codepostale" ParsingErrorMessage="Vous devez saisir le code postale" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Codepostale)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Commentaire :</label>
                                        <InputText placeholder="Commentaire" class="form-control" @bind-Value="adresse.Commentaire" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Commentaire)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type :</label>
                                        <InputText placeholder="Type" class="form-control" @bind-Value="adresse.Type" />
                                        <div style="font-size:12px">
                                            <ValidationMessage For="@(() => adresse.Type)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>

@code {
    [Parameter]
    public Adresse adresse { get; set; }
    [Parameter]
    public Action DataChanged { get; set; }

    private async void HandleValidSubmit()
    {
        string adr21 = NavigationManager.BaseUri.ToString() + "api/Adresses/" + adresse.AdresseId;
        var result = await AuthService.PutJsonAsync<Adresse>(new Uri(adr21), adresse);
        await CloseTaskModal();
        DataChanged?.Invoke();
    }
    private async Task CloseTaskModal()
    {
        await JSRuntime.InvokeAsync<object>("JsFunctions.CloseModal", "DetailAdresse");
    }
}
