@page "/DetailAntcdntspatens"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IAuthService AuthService

<div class="card" style="border-radius:10px">
    <div class="modal fade" tabindex="-1" role="dialog" id="DetailZone">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail de la Antcdntspatens</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <EditForm Model="@Antcdntspaten" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AntcptnCode">AntcptnCode :</label>
                                <InputText placeholder="AntcptnCode" class="form-control" @bind-Value="Antcdntspaten.AntcptnCode" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.AntcptnCode)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AntcptnLib">AntcptnLib :</label>
                                <InputText placeholder="AntcptnLib" class="form-control" @bind-Value="Antcdntspaten.AntcptnLib" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.AntcptnLib)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AntcptnComnt">AntcptnComnt :</label>
                                <InputText placeholder="AntcptnComnt" class="form-control" @bind-Value="Antcdntspaten.AntcptnComnt" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.AntcptnComnt)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PtienIdf">PtienIdf :</label>
                                <MyInputNumber placeholder="PtienIdf" class="form-control" @bind-Value="Antcdntspaten.PtienIdf" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.PtienIdf)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AntcdnIdf">AntcdnIdf :</label>
                                <MyInputNumber placeholder="AntcdnIdf" class="form-control" @bind-Value="Antcdntspaten.AntcdnIdf" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.AntcdnIdf)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Code">StartDate :</label>
                                <InputDate placeholder="StartDate" class="form-control" @bind-Value="Antcdntspaten.StartDate" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.StartDate)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EndDate">EndDate :</label>
                                <InputDate placeholder="EndDate" class="form-control" @bind-Value="Antcdntspaten.EndDate" />
                                <div style="font-size:12px">
                                    <ValidationMessage For="@(() => Antcdntspaten.EndDate)" />
                                </div>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TabpAntcdntspaten Antcdntspaten { get; set; }
    [Parameter]
    public Action DataChanged { get; set; }

    private async void HandleValidSubmit()
    {
        string adr21 = NavigationManager.BaseUri.ToString() + "api/TabpAntcdntspatens/" + Antcdntspaten.AntcptnIdf;
        var result = await AuthService.PutJsonAsync<TabpAntcdntspaten>(new Uri(adr21), Antcdntspaten);
        await CloseTaskModal();
        DataChanged?.Invoke();
    }
    private async Task CloseTaskModal()
    {
        await JSRuntime.InvokeAsync<object>("JsFunctions.CloseModal", "DetailAntcdntspatens");
    }
}
